body{font-family:Arial;margin:0}
header{background:#0b3d91;color:white;text-align:center;padding:20px}
.hero{padding:80px;text-align:center;background:#eee}
.btn{background:orange;padding:10px;color:white;text-decoration:none}
.features{display:flex;justify-content:space-around;padding:20px}
footer{background:black;color:white;text-align:center;padding:10px}